.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:root {
	--background: white;
	--text: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #242424;
        --text: white;
    }
}

body {
	background-color: var(--background);
	color: var(--text);
}